.genreFiltre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin-bottom: 20px
}

.all{
    width: 100px;
    height: 45px;
    background-color: cornflowerblue;
    padding: 10px;
    color: black;
    border-radius: 10px;

}

.all:hover{
    background-color: yellow;
}
