.movieInfo {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.details {
    max-width: 600px;
}

.title {
    font-size: 32px;
    font-weight: bold;
}

.originalTitle,
.releaseDate {
    font-size: 16px;
    margin-top: 10px;
}

.overview {
    margin-top: 20px;
    font-size: 18px;
    color: dimgrey;
}

.rating {
    margin-top: 20px;
    font-size: 18px;
}



.detailsGrid {
    margin-top: 20px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.genres {
    display: flex;
    gap: 10px;
    height: 40px;
    color: white;
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 5px;
    margin: 2px;
}
